tr,
td,
th {
  font-size: 2rem;
  border: 1px solid #0000006e;
  background: white;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  tr {
    height: 50px;
    padding: 15px;
    input,
    select {
      min-height: 60px;
      border: none;
      width: 100%;
    }
    td {
      font-size: 2rem;
      border: 1px solid #0000006e;
      background: white;
      font-weight: 700;
      padding: 0.5rem 0.5rem 0;
      p {
        margin: 0;
        font-weight: 100;
      }
    }
  }
  TH {
    font-weight: normal;
    border-width: 0px 1px 1px 0px;
    text-align: center;
  }
}

.ExcelTable2007 TD {
  border: 0px;
  background-color: white;
  padding: 0px 4px 0px 2px;
  border: 1px solid #d0d7e5;
  border-width: 0px 1px 1px 0px;
}

.ExcelTable2007 TD B {
  border: 0px;
  background-color: white;
  font-weight: bold;
}

.ExcelTable2007 TD.heading {
  background-color: #e4ecf7;
  text-align: center;
  border: 1px solid #9eb6ce;
  border-width: 0px 1px 1px 0px;
}
