#query-text {
  width: 94%;
}
mat-form-field {
  margin: 1rem;
}
form {
  position: relative;
}
.button-container {
  display: inline-flex;
  position: absolute;
  right: 0;
}

#submit-button {
  bottom: 0;
}
