<form>
  <p class="success-msg" *ngIf="postResponse">Your details have been updated</p>
  <div mat-dialog-content>
    <fieldset>
      <mat-form-field appearance="outline">
        <mat-label>Client ID</mat-label>
        <input
          matInput
          disabled
          value="{{ clientInfo.clientId }}"
          name="clientId"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          value="{{ clientInfo.clientName }}"
          [(ngModel)]="clientInfo.clientName"
          name="sitename"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email ID</mat-label>
        <input
          matInput
          type="email"
          value="{{ clientInfo.clientEmail }}"
          [(ngModel)]="clientInfo.clientEmail"
          name="email"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          type="tel"
          value="{{ clientInfo.clientMobile }}"
          [(ngModel)]="clientInfo.clientMobile"
          name="mobile"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Occupation</mat-label>
        <select
          matNativeControl
          value="{{ clientInfo.occupation.occupationName }}"
          [(ngModel)]="selectedOccupation"
          name="siteType"
        >
          <option
            *ngFor="let occupation of occupationsArray"
            [value]="occupation.occupationName"
          >
            {{ occupation.occupationName }}
          </option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          value="{{ clientInfo.password }}"
          [(ngModel)]="clientInfo.password"
          name="password"
          type="password"
        />
      </mat-form-field>
      <br />
      <p class="fs-22">Address</p>
      <mat-form-field appearance="standard">
        <mat-label>Residence Location</mat-label>
        <input required matInput [(ngModel)]="address.address" name="name" />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Country</mat-label>
        <input required matInput [(ngModel)]="address.country" name="name" />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>State</mat-label>
        <input required matInput [(ngModel)]="address.state" name="name" />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>City</mat-label>
        <input required matInput [(ngModel)]="address.city" name="name" />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Sub City</mat-label>
        <input required matInput [(ngModel)]="address.subCity" name="name" />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Site Geo</mat-label>
        <input matInput [(ngModel)]="address.siteGeo" name="name" />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Pincode</mat-label>
        <input
          required
          matInput
          [(ngModel)]="address.pinCode"
          name="name"
          type="text"
        />
      </mat-form-field>
    </fieldset>
  </div>
  <div mat-dialog-actions class="flex-row justify-between">
    <h2>Upload display picture</h2>
    <input
      type="file"
      class="file-input"
      accept="image/*"
      (change)="onFileSelected($event)"
      #fileUpload
    />
    <p *ngIf="postMessage" class="success-msg mb-0 m-top">{{ postMessage }}</p>

    <button class="submit-button" id="submit-button" (click)="submit()">
      Submit Changes
    </button>
  </div>
</form>
