<mat-card class="site-card">
  <mat-card-title> {{ site.siteName }} </mat-card-title>
  <mat-card-subtitle>{{ site.address.address }}</mat-card-subtitle>

  <div class="divider"></div>
  <mat-card-content>{{ site.address.siteGeo }}</mat-card-content>

  <mat-card-subtitle>Condition {{ site.conditionType }}</mat-card-subtitle>
  <div>
    <button ngClass="add-button view-query" (click)="openDialog()">
      View queries
    </button>
    <button ngClass="add-button notes" (click)="getPatri(site.siteId)">
      <mat-icon>note</mat-icon>
    </button>
  </div>
</mat-card>
<mat-progress-spinner [mode]="'indeterminate'"> </mat-progress-spinner>
