.site-card {
  cursor: pointer;
  padding-top: 3rem;
  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  mat-card-title {
    padding-bottom: 1rem;
  }
  mat-card-content {
    padding: 1rem 0;
    font-size: 12px;
  }

  div {
    .view-query {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      background-color: #007fff;
    }
    .notes {
      top: 1rem;
      right: 1rem;
      position: absolute;
      background-color: #007fff;
    }
  }
}
