<div class="table-wrapper flex-column">
  <h1 *ngIf="query">
    Query: {{ query.queryId }} - {{ query.masterConcern.concernName }}
  </h1>
  <h1 *ngIf="siteDetails">
    Site: {{ siteDetails.siteName }} - {{ siteDetails.siteAddress }}
  </h1>
  <p class="success-msg" *ngIf="postMessage">
    {{ postMessage }}
  </p>
  <table>
    <tr>
      <td>
        <input
          disabled
          placeholder="Name"
          [(ngModel)]="clientInfo.clientName"
        />
      </td>
      <td colspan="2">
        <input placeholder="Person Prakriti" [(ngModel)]="personPrakriti" />
      </td>
    </tr>
    <tr>
      <th *ngFor="let heading of headingArray">{{ heading }}</th>
    </tr>
    <ng-container *ngFor="let zone of zoneArray" (ngSubmit)="submitForm()">
      <tr>
        <td aria-colspan="1">
          {{ zone.heading }}
          <p>{{ zone.subheading }}</p>
        </td>

        <td>
          <input
            type="text"
            required
            name="activity"
            value="{{ getValue('activity', zone) }}"
            (change)="handleInput(zone.heading, $event)"
          />
        </td>

        <td>
          <input
            required
            name="suggestions"
            value="{{ getValue('suggestions', zone) }}"
            (change)="handleInput(zone.heading, $event)"
          />
        </td>
      </tr>
    </ng-container>
    <h2>Checklist</h2>
    <ul>
      <li *ngFor="let data of activity">{{ data }}</li>
    </ul>
  </table>
  <button class="submit-button" (click)="submitForm()">SUBMIT</button>
</div>
