.site-card {
  cursor: pointer;
  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  mat-card-title {
    padding-bottom: 1rem;
  }
  mat-card-content {
    padding: 1rem 0;
  }
  .view-query {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: #007fff;
  }
}
