<ng-container *ngIf="query.active">
  <mat-card class="query-card" *ngIf="siteDetails" (click)="openDialog()">
    <mat-card-title>{{ siteDetails.siteName }}</mat-card-title>
    <mat-card-subtitle
      >Address -{{ siteDetails.address.address }}</mat-card-subtitle
    >

    <mat-card-content>{{ getShortQuery(query.queryText) }}</mat-card-content>
    <div class="divider"></div>

    <mat-card-subtitle class="m-top mb-0"
      >Updated at {{ getDate() }}</mat-card-subtitle
    >
    <button class="add-button" id="resolve-button" (click)="resolveQuery()">
      <mat-icon>check_circle</mat-icon>
    </button>
  </mat-card>
</ng-container>
