.query-card {
  cursor: pointer;
  width: 98%;
  display: inline-flex;
  flex-direction: column;
  margin: 1rem;

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  mat-card-title {
    padding-bottom: 1rem;
  }
}

#resolve-button {
  width: min-content;
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
  top: 1rem;
}
