main {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  div {
    height: 100%;
    &.left-div {
      width: 40%;
      background-color: #faf2ee;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        font-size: 36px;
        font-weight: 800;
        display: inline-flex;
      }
      img {
        height: 60%;
      }
    }
    &.right-div {
      width: 60%;
      .login-wrapper {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        align-items: baseline;
        margin-bottom: 4rem;
        h2 {
          margin: 0;
        }
      }
      mat-form-field {
        .username {
          height: 60px;
          font-size: 28px;
          padding: 1rem;
        }
      }
    }
  }
}
.login-card {
  text-align: center;
  height: 100%;
  width: 100%;
  mat-card-content {
    padding: 50px 50px 0px 50px;
    position: relative;
    top: 25%;

    button {
      font-size: 24px;
      padding: 1rem 3rem;
      max-width: max-content;
      margin-right: 100%;
    }
  }
}
.example-radio-group {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-right: 100%;
  margin-bottom: 1rem;
}

#sign-up {
  display: inline-flex;
  font-size: 2rem;
  width: 100%;
  margin: 0;
  padding-left: 0;
  font-weight: 900;
  color: steelblue;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  main {
    flex-direction: column;
    div {
      &.left-div {
        max-height: 33%;
        width: 100%;
        justify-content: flex-start;
        img {
          height: 100%;
        }
      }
      &.right-div {
        width: 100%;
        mat-card-content {
          top: 0;
          padding: 0;
          .login-button {
            font-size: unset;
            padding: unset;
            width: 100%;
            padding: 0px 44%;
            margin: 0;
          }
          input {
            font-size: unset !important;
          }
        }
      }
    }
  }
}
#forgot {
  margin-right: 100%;
}
app-snackbar {
  position: relative;
  top: 30%;
}
