<form [formGroup]="queryView">
  <div mat-dialog-content>
    <fieldset [disabled]="true">
      <h2>Resolved by</h2>
      <mat-form-field appearance="outline">
        <mat-label>Advisor ID</mat-label>
        <input matInput value="{{ query.advisor.advisorId }}" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Advisor Name</mat-label>
        <input matInput value="{{ query.advisor.advisorName }}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Advisor Phone Number</mat-label>
        <input matInput value="{{ query.advisor.advisorMobile }}" />
      </mat-form-field>

      <div class="divider query-divider"></div>

      <mat-form-field appearance="outline">
        <mat-label>Query ID</mat-label>
        <input matInput value="{{ query.queryId }}" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Concern</mat-label>
        <input matInput value="{{ query.masterConcern.concernName }}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last update at</mat-label>
        <input matInput value="{{ getDate(query.queryUpdateDatetime) }}" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="query-text">
        <mat-label>Description</mat-label>
        <textarea matInput value="{{ query.queryText }}"></textarea>
      </mat-form-field>
    </fieldset>
  </div>
</form>
