<button mat-button class="m-1" [matMenuTriggerFor]="filters">
  <h1>Filters</h1>
</button>
<mat-menu #filters="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="site">Site Filters</button>
  <button mat-menu-item [matMenuTriggerFor]="query">Query Filters</button>
  <button mat-menu-item [matMenuTriggerFor]="client">Client Filters</button>
</mat-menu>

<mat-menu #site="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="location">Location</button>
  <button mat-menu-item [matMenuTriggerFor]="type">Type</button>
  <button mat-menu-item (click)="setSearchType('size')">Size</button>
</mat-menu>

<mat-menu #query="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="concern">Concern</button>
</mat-menu>
<mat-menu #client="matMenu">
  <button mat-menu-item (click)="setSearchType('name')">Name</button>
  <button mat-menu-item (click)="setSearchType('mobile')">Mobile</button>
  <button mat-menu-item (click)="setSearchType('email')">Email</button>
</mat-menu>

<mat-menu #location="matMenu">
  <button mat-menu-item (click)="setSearchType('country')">Country</button>
  <button mat-menu-item (click)="setSearchType('state')">State</button>
  <button mat-menu-item (click)="setSearchType('city')">City</button>
  <button mat-menu-item (click)="setSearchType('subCity')">Sub City</button>
</mat-menu>

<mat-menu #type="matMenu">
  <button
    mat-menu-item
    (click)="setSiteType(siteType)"
    *ngFor="let siteType of siteTypes"
  >
    {{ siteType.siteTypeName }}
  </button></mat-menu
>

<mat-menu #concern="matMenu">
  <button
    mat-menu-item
    (click)="setConcern(concern)"
    *ngFor="let concern of masterConcerns"
  >
    {{ concern.concernName }}
  </button>
</mat-menu>
<form *ngIf="filterArray.length > 0" (ngSubmit)="sendSearchQuery()">
  <mat-form-field
    class="m-1"
    appearance="fill"
    *ngFor="let searchFilter of filterArray"
  >
    <mat-label>{{ searchFilter.searchType }}</mat-label>
    <input
      matInput
      type="text"
      (change)="getInput($event, searchFilter.searchType)"
      value="{{ searchFilter.searchText }}"
    />
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="removeSearchQuery(searchFilter.searchType)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button matSuffix mat-icon-button aria-label="Clear" type="submit">
    <mat-icon>search</mat-icon>
  </button>
</form>
