<button mat-button class="m-1" [matMenuTriggerFor]="filters">
  <mat-icon>filter_list</mat-icon> <span class="fs-22">Filters</span>
</button>
<mat-menu #filters="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="site">Site Filters</button>
  <button
    mat-menu-item
    [matMenuTriggerFor]="query"
    *ngIf="dataType === 'queries'"
  >
    Query Filters
  </button>
  <button mat-menu-item [matMenuTriggerFor]="client">Client Filters</button>
</mat-menu>

<mat-menu #site="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="location">Location</button>
  <button mat-menu-item [matMenuTriggerFor]="type">Type</button>
  <button mat-menu-item [mat-menu-trigger-for]="size">Size</button>
</mat-menu>

<mat-menu #query="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="concern">Concern</button>
</mat-menu>
<mat-menu #client="matMenu">
  <button mat-menu-item (click)="setSearchType('clientName')">
    Client Name
  </button>
  <button mat-menu-item (click)="setSearchType('clientPhone')">
    Client Phone
  </button>
  <button mat-menu-item (click)="setSearchType('clientEmail')">
    Client Email
  </button>
</mat-menu>

<mat-menu #location="matMenu">
  <button mat-menu-item (click)="setSearchType('country')">Country</button>
  <button mat-menu-item (click)="setSearchType('state')">State</button>
  <button mat-menu-item (click)="setSearchType('city')">City</button>
  <button mat-menu-item (click)="setSearchType('subCity')">Sub City</button>
</mat-menu>
<mat-menu #size="matMenu">
  <button mat-menu-item (click)="setSearchType('minCoveredAreaSize')">
    Min Covered Area Size
  </button>
  <button mat-menu-item (click)="setSearchType('maxCoveredAreaSize')">
    Max Covered Area Size
  </button>
  <button mat-menu-item (click)="setSearchType('minPlotAreaSize')">
    Min Plot Area Size
  </button>
  <button mat-menu-item (click)="setSearchType('maxPlotAreaSize')">
    Max Plot Area Size
  </button>
</mat-menu>
<mat-menu #type="matMenu">
  <button
    mat-menu-item
    (click)="setSiteType(siteType)"
    *ngFor="let siteType of siteTypes"
  >
    {{ siteType.siteTypeName }}
  </button></mat-menu
>

<mat-menu #concern="matMenu">
  <button
    mat-menu-item
    (click)="setConcern(concern)"
    *ngFor="let concern of masterConcerns"
  >
    {{ concern.concernName }}
  </button>
</mat-menu>
<form *ngIf="filterArray.length > 0" (ngSubmit)="sendSearchQuery()">
  <mat-form-field
    class="m-1"
    appearance="fill"
    *ngFor="let searchFilter of filterArray"
  >
    <mat-label>{{ getLabel(searchFilter.searchType) }}</mat-label>
    <input
      matInput
      type="text"
      (change)="getInput($event, searchFilter.searchType)"
      value="{{ searchFilter.searchText }}"
    />
    <button
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="removeSearchQuery(searchFilter.searchType)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button matSuffix mat-icon-button aria-label="Clear" type="submit">
    <mat-icon>search</mat-icon>
  </button>
</form>
