<form [formGroup]="queryView">
  <div mat-dialog-content>
    <fieldset [disabled]="true">
      <mat-form-field appearance="outline">
        <mat-label>Query ID</mat-label>
        <input matInput value="{{ data.query.queryId }}" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Concern</mat-label>
        <input matInput value="{{ data.query.masterConcern.concernName }}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last update at</mat-label>
        <input matInput value="{{ getDate() }}" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="query-text">
        <mat-label>Site Name</mat-label>
        <input
          matInput
          value="{{ data.siteDetails.siteName }} - {{
            data.siteDetails.siteAddress
          }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="query-text">
        <mat-label>Description</mat-label>
        <textarea matInput value="{{ data.query.queryText }}"></textarea>
      </mat-form-field>
    </fieldset>
  </div>
  <div mat-dialog-actions>
    <div class="upload-button-wrapper">
      <p class="fs-22 m-0">Upload maps</p>
      <app-file-upload
        [clientId]="data.query.client.clientId"
        [siteId]="data.siteDetails.siteId"
        [name]="'PartLayout'"
        [title]="'Part Layout'"
      ></app-file-upload>
      <app-file-upload
        [clientId]="data.query.client.clientId"
        [siteId]="data.siteDetails.siteId"
        [name]="'GradedMap'"
        [title]="'Graded Map'"
      ></app-file-upload>
      <app-file-upload
        [clientId]="data.query.client.clientId"
        [siteId]="data.siteDetails.siteId"
        [name]="'SquareGridMap'"
        [title]="'Square Grid Map'"
      ></app-file-upload>
    </div>
    <div class="upload-button-wrapper">
      <p class="fs-22 m-0">Upload horo</p>
      <app-file-upload
        [clientId]="data.query.client.clientId"
        [siteId]="data.siteDetails.siteId"
        [name]="'AssociatedPeople'"
        [title]="'Associated People'"
      ></app-file-upload>
    </div>
  </div>
</form>
