.query-text {
  width: 94%;
}
mat-form-field {
  margin: 1rem;
}
app-file-upload {
  display: inline-flex;
  flex-direction: column;
  width: 31%;
  margin: 1rem 2rem 1rem 0;
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    width: 100%;
  }
}
.upload-button-wrapper {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}
form {
  max-height: 90vh;
}
#second-div {
  padding-bottom: 2rem;
}
