form {
  max-height: 80vh;
}
.query-text {
  width: 94%;
}
mat-form-field {
  margin: 1rem;
}
.add-form {
  margin: 1rem;
  margin-left: 0;
}

#forms-level-1 {
  div {
    display: flex;
    flex-wrap: wrap;
    max-width: 75%;
  }
}

.view-margin-bottom {
  margin-bottom: 14rem;
}
