<form [formGroup]="queryView">
  <div mat-dialog-content>
    <fieldset [disabled]="true">
      <mat-form-field appearance="outline">
        <mat-label>Query ID</mat-label>
        <input matInput value="{{ data.query.queryId }}" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Concern</mat-label>
        <input matInput value="{{ data.query.masterConcern.concernName }}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last update at</mat-label>
        <input matInput value="{{ getDate() }}" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="query-text">
        <mat-label>Site Name</mat-label>
        <input
          matInput
          value="{{ data.siteDetails.siteName }} - {{
            data.siteDetails.siteAddress
          }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="query-text">
        <mat-label>Description</mat-label>
        <textarea matInput value="{{ data.query.queryText }}"></textarea>
      </mat-form-field>
    </fieldset>
  </div>
  <div class="divider"></div>
  <div mat-dialog-actions class="view-margin-bottom">
    <h1>Advice</h1>
    <div class="button-container flex-row">
      <div id="forms-level-1">
        <button ngClass="add-button add-form" (click)="toggleShowForm(0)">
          Level 1
        </button>
        <div *ngIf="showForms[0]">
          <button
            (click)="triggerForm('form-1-a')"
            ngClass="add-button add-form"
          >
            Level 1A- Entrance
          </button>
          <button
            (click)="triggerForm('form-1-b-prakriti')"
            ngClass="add-button add-form"
          >
            Level 1B- Prakriti
          </button>
          <button
            (click)="triggerForm('form-1-b-building')"
            ngClass="add-button add-form"
          >
            Level 1B- Prakriti Building
          </button>
          <button
            (click)="triggerForm('form-1-b-suggestion')"
            ngClass="add-button add-form"
          >
            Level 1B- Prakriti suggestion
          </button>
          <button
            (click)="triggerForm('form-1-c')"
            ngClass="add-button add-form"
          >
            Level 1C- Dishabal
          </button>
          <button
            (click)="triggerForm('form-1-d')"
            ngClass="add-button add-form"
          >
            Level 1D- 5 Elements
          </button>
          <button
            (click)="triggerForm('form-1-e')"
            ngClass="add-button add-form"
          >
            Level 1E- Activity
          </button>
          <button
            (click)="triggerForm('form-1-f')"
            ngClass="add-button add-form"
          >
            Level 1F- Utility
          </button>
          <button
            (click)="triggerForm('form-1-g')"
            ngClass="add-button add-form"
          >
            Level 1G- Objects
          </button>
          <button
            (click)="triggerForm('form-1-h')"
            ngClass="add-button add-form"
          >
            Level 1H- Remedies
          </button>
          <button
            (click)="triggerForm('form-1-i-1')"
            ngClass="add-button add-form"
          >
            Level 1I- Astro Audit 1
          </button>
          <button
            (click)="triggerForm('form-1-i-2')"
            ngClass="add-button add-form"
          >
            Level 1I- Astro Audit 2
          </button>
          <button
            (click)="triggerForm('form-1-i-3')"
            ngClass="add-button add-form"
          >
            Level 1I- Astro Audit 3
          </button>
          <button
            (click)="triggerForm('form-1-j')"
            ngClass="add-button add-form"
          >
            Level 1J- Marma
          </button>
          <button
            (click)="triggerForm('form-1-j-1')"
            ngClass="add-button add-form"
          >
            Level 1J- Devta 2
          </button>
          <button
            (click)="triggerForm('form-1-k')"
            ngClass="add-button add-form"
          >
            Level 1K- Intuitive
          </button>
          <button
            (click)="triggerForm('form-1-k-1')"
            ngClass="add-button add-form"
          >
            Level 1K- Devta 1
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
