.upload-button-wrapper {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
}
form {
  max-height: 90vh;
}
#second-div {
  padding-bottom: 2rem;
}

.query-text {
  width: 94%;
}
mat-form-field {
  margin: 1rem;
}
.add-form {
  margin: 1rem;
  margin-left: 0;
}

#forms-level-1 {
  div {
    display: flex;
    flex-direction: column;
    button {
      width: fit-content;
    }
    div {
      flex-direction: row;
      margin: 1rem 0;
      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        flex-direction: column;
        margin-top: 1rem;
      }
    }
  }
}

.view-margin-bottom {
  margin-bottom: 14rem;
}
.send-report {
  display: inline-flex;
  font-size: 1.5rem;
  margin: 1rem;
  margin-left: 0;
  background-color: var(--color-primary-light);
}
