<app-snackbar></app-snackbar>
<form [formGroup]="queryView">
  <div mat-dialog-content>
    <fieldset [disabled]="true">
      <mat-form-field appearance="outline">
        <mat-label>Query ID</mat-label>
        <input matInput value="{{ data.query.queryId }}" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label> Concern</mat-label>
        <input matInput value="{{ data.query.masterConcern.concernName }}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last update at</mat-label>
        <input matInput value="{{ getDate(data.query.queryUpdateDatetime) }}" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="query-text">
        <mat-label>Site Name</mat-label>
        <input
          matInput
          value="{{ data.siteDetails.siteName }} - {{
            data.siteDetails.address.address
          }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="query-text">
        <mat-label>Description</mat-label>
        <textarea matInput value="{{ data.query.queryText }}"></textarea>
      </mat-form-field>
    </fieldset>
  </div>
  <div class="divider"></div>

  <h2 class="fs-18 fw-600">Uploaded documents</h2>
  <div class="flex-row mobile-flex-column">
    <div mat-dialog-actions id="second-div">
      <div class="upload-button-wrapper">
        <p class="fs-16 fw-600 m-0">Upload maps</p>
        <div
          *ngFor="let map of uploadMapArray"
          class="flex-row mobile-flex-column"
        >
          <app-file-upload
            [clientId]="data.query.client.clientId"
            [siteId]="data.siteDetails.siteId"
            [name]="map.name"
            [title]="map.title"
            [queryId]="data.query.queryId"
          ></app-file-upload>
          <app-get-uploaded-doc
            [clientId]="data.query.client.clientId"
            [siteId]="data.siteDetails.siteId"
            [documentType]="map.name"
            [queryId]="data.query.queryId"
          ></app-get-uploaded-doc>
        </div>
      </div>
      <div class="upload-button-wrapper">
        <p class="fs-16 fw-600 m-0">Upload horoscope</p>
        <div class="flex-row mobile-flex-column">
          <app-file-upload
            [clientId]="data.query.client.clientId"
            [siteId]="data.siteDetails.siteId"
            [name]="'AssociatedPeople'"
            [title]="'Associated People'"
            [queryId]="data.query.queryId"
          ></app-file-upload>
          <app-get-uploaded-doc
            [clientId]="data.query.client.clientId"
            [siteId]="data.siteDetails.siteId"
            [documentType]="'AssociatedPeople'"
            [queryId]="data.query.queryId"
          ></app-get-uploaded-doc>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div mat-dialog-actions class="view-margin-bottom">
    <h2 class="fs-18 fw-600">Advice</h2>
    <div class="button-container flex-row">
      <div id="forms-level-1">
        <button ngClass="add-button add-form" (click)="toggleShowForm(0)">
          Level 1
        </button>

        <div *ngIf="showForms[0]">
          <button
            (click)="triggerForm('form-1-k')"
            ngClass="add-button add-form"
          >
            Intuitive Audit
          </button>
          <button
            (click)="triggerForm('form-1-a')"
            ngClass="add-button add-form"
          >
            Entrance Audit
          </button>
          <div>
            <button
              (click)="triggerForm('form-1-b-prakriti')"
              ngClass="add-button add-form"
            >
              Prakriti Audit
            </button>
            <button
              (click)="triggerForm('form-1-b-building')"
              ngClass="add-button add-form"
            >
              Building Prakriti Audit
            </button>
            <button
              (click)="triggerForm('form-1-b-suggestion')"
              ngClass="add-button add-form"
            >
              Prakriti Balancing Audit
            </button>
          </div>

          <button
            (click)="triggerForm('form-1-c')"
            ngClass="add-button add-form"
          >
            Disha Bal Audit
          </button>

          <button
            (click)="triggerForm('form-1-d')"
            ngClass="add-button add-form"
          >
            Five Elements Audit
          </button>
          <div>
            <button
              (click)="triggerForm('form-1-e')"
              ngClass="add-button add-form"
            >
              Activity Audit
            </button>
            <button
              (click)="triggerForm('form-1-f')"
              ngClass="add-button add-form"
            >
              Utility Audit
            </button>
            <button
              (click)="triggerForm('form-1-g')"
              ngClass="add-button add-form"
            >
              Objects Audit
            </button>
          </div>
          <button
            (click)="triggerForm('form-1-h')"
            ngClass="add-button add-form"
          >
            Remedies
          </button>
          <div>
            <button
              (click)="triggerForm('form-1-i-1')"
              ngClass="add-button add-form"
            >
              Astro Audit - 1
            </button>
            <button
              (click)="triggerForm('form-1-i-2')"
              ngClass="add-button add-form"
            >
              Astro Audit - 2
            </button>
          </div>
          <button
            (click)="triggerForm('form-1-i-3')"
            ngClass="add-button add-form"
          >
            Astro Remedies - 3
          </button>

          <button
            (click)="triggerForm('form-1-j')"
            ngClass="add-button add-form"
          >
            Marma Audit
          </button>
          <div>
            <button
              (click)="triggerForm('form-1-k-1')"
              ngClass="add-button add-form"
            >
              Devta Audit - 1
            </button>
            <button
              (click)="triggerForm('form-1-j-1')"
              ngClass="add-button add-form"
            >
              Devta Audit - 2
            </button>
          </div>
        </div>
      </div>
    </div>
    <h2 class="fs-18 fw-600">Generate Advice PDF</h2>
    <button ngClass="add-button send-report" (click)="generateReport()">
      Generate
    </button>
    <!-- <button ngClass="add-button send-report" (click)="sendReport()">
          Generate & Send
        </button> -->
    <div class="divider"></div>

    <div>
      <form [formGroup]="adviceData">
        <div mat-dialog-content>
          <fieldset [disabled]="true" *ngFor="let advice of adviceMetadata">
            <mat-form-field appearance="outline">
              <mat-label>Analysis</mat-label>
              <input matInput value="{{ advice.analysis }}" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label> Advisor Name</mat-label>
              <input matInput value="{{ advice.advisor.advisorName }}" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label> Advisor Mobile</mat-label>
              <input matInput value="{{ advice.advisor.advisorMobile }}" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label> Advisor Email</mat-label>
              <input matInput value="{{ advice.advisor.advisorEmail }}" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Last update at</mat-label>
              <input
                matInput
                value="{{ getDate(advice.adviceUpdateDatetime) }}"
              />
            </mat-form-field>
          </fieldset>
        </div>
      </form>
    </div>
  </div>
</form>
