.upload-button-wrapper {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  width: 100%;
}
form {
  max-height: 90vh;
  position: relative;
}

#second-div {
  padding-bottom: 2rem;
  width: 100%;
  mat-form-field {
    margin: 1rem;
  }
  app-file-upload {
    display: inline-flex;
    flex-direction: column;
    width: 31%;
    margin: 1rem 2rem 1rem 0;
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
      width: 100%;
    }
  }
}

.query-text {
  width: 94%;
}
mat-form-field {
  margin: 1rem;
}
.add-form {
  margin: 1rem;
  margin-left: 0;
}

#forms-level-1 {
  div {
    display: flex;
    flex-direction: column;
    button {
      width: fit-content;
    }
    div {
      flex-direction: row;
      margin: 1rem 0;
      @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
        flex-direction: column;
        margin-top: 1rem;
      }
    }
  }
}

.view-margin-bottom {
  margin-bottom: 14rem;
}
.send-report {
  display: inline-flex;
  font-size: 2rem;
  margin: 1rem;
  margin-left: 0;
}

app-snackbar {
  position: absolute;
  width: 75%;
}
