<div class="table-wrapper flex-column">
  <h1 *ngIf="query">Query ID- {{ query.queryId }} - {{ query.concern }}</h1>
  <h1 *ngIf="siteDetails">
    {{ siteDetails.siteName }} - {{ siteDetails.siteAddress }}
  </h1>
  <table>
    <tr>
      <th *ngFor="let heading of headingArray">{{ heading }}</th>
    </tr>
    <ng-container *ngFor="let zone of zoneArray" (ngSubmit)="submitForm()">
      <tr>
        <td aria-colspan="1">
          {{ zone.heading }}
          <p>{{ zone.subheading }}</p>
        </td>

        <td>
          <input
            type="number"
            required
            name="dishabal"
            (change)="handleInput(zone.heading, $event)"
          />
        </td>

        <td>
          <select
            required
            name="status"
            (change)="handleInput(zone.heading, $event)"
          >
            <option *ngFor="let status of statusArray" value="{{ status }}">
              {{ status }}
            </option>
          </select>
        </td>

        <td>
          <input
            required
            name="evaluation"
            (change)="handleInput(zone.heading, $event)"
          />
        </td>

        <td>
          <input
            required
            name="suggestions"
            (change)="handleInput(zone.heading, $event)"
          />
        </td>
      </tr>
    </ng-container>
  </table>
  <button class="submit-button" (click)="submitForm()">SUBMIT</button>
</div>
