<div class="table-wrapper flex-column">
  <h1 *ngIf="query">
    Query: {{ query.queryId }} - {{ query.masterConcern.concernName }}
  </h1>
  <h1 *ngIf="siteDetails">
    Site: {{ siteDetails.siteName }} - {{ siteDetails.address.address }}
  </h1>
  <p class="success-msg" *ngIf="postMessage">
    {{ postMessage }}
  </p>
  <table>
    <tr>
      <td>Person Name</td>
      <td>{{ clientInfo.clientName }}</td>
      <td>Person Prakriti</td>
      <td><input /></td>
      <td>Bldg. / Plot Prakriti :</td>
      <td><input /></td>
    </tr>
    <tr>
      <th *ngFor="let heading of headingArray">{{ heading }}</th>
    </tr>
    <ng-container *ngFor="let zone of zoneArray" (ngSubmit)="submitForm()">
      <tr>
        <td aria-colspan="1">
          {{ zone.heading }}
          <p>{{ zone.subheading }}</p>
        </td>
        <td>
          <input
            type="text"
            required
            name="prakriti"
            value="{{ getValue('prakriti', zone) }}"
            (change)="handleInput(zone.heading, $event)"
          />
        </td>
        <td>
          <input
            type="text"
            required
            name="personsActivity"
            value="{{ getValue('personsActivity', zone) }}"
            (change)="handleInput(zone.heading, $event)"
          />
        </td>

        <td>
          <input
            type="text"
            required
            name="buildingActivity"
            value="{{ getValue('buildingActivity', zone) }}"
            (change)="handleInput(zone.heading, $event)"
          />
        </td>

        <td>
          <input
            type="text"
            required
            name="prakrtitSink"
            value="{{ getValue('prakrtitSink', zone) }}"
            (change)="handleInput(zone.heading, $event)"
          />
        </td>

        <td>
          <input
            required
            name="suggestions"
            value="{{ getValue('suggestions', zone) }}"
            (change)="handleInput(zone.heading, $event)"
          />
        </td>
      </tr>
    </ng-container>
  </table>
  <button class="submit-button" (click)="submitForm()">SUBMIT</button>
</div>
