.query-card {
  cursor: pointer;
  width: 98%;
  display: inline-flex;
  flex-direction: column;
  margin: 1rem;

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  mat-card-title {
    padding-bottom: 1rem;
  }
}
