.query-text {
  width: 94%;
}
mat-form-field {
  margin: 1rem;
}
.query-divider {
  background-color: var(--color-primary);
  opacity: 1;
  margin-bottom: 3rem;
}

.mat-input-element:disabled {
  color: black;
}

mat-card {
  margin: 1rem 0;
  box-shadow: none !important;
  border: 1px solid #0000003b;
  cursor: unset;
}
