<div mat-dialog-content>
  <h1>Add New Site</h1>
  <form>
    <br />
    <div class="form-group">
      <label>Site Name</label>
      <input
        [value]="siteName"
        [(ngModel)]="siteName"
        class="form-control"
        name="siteName"
      />
    </div>
    <h3>Site Address</h3>
    <div class="form-group">
      <label>Address</label>
      <input
        [value]="siteAddress.address"
        [(ngModel)]="siteAddress.address"
        class="form-control"
        name="siteAddress"
      />
    </div>
    <div class="form-group">
      <label>Country</label>
      <input
        [value]="siteAddress.country"
        [(ngModel)]="siteAddress.country"
        class="form-control"
        name="country"
      />
    </div>
    <div class="form-group">
      <label>State</label>
      <input
        [value]="siteAddress.state"
        [(ngModel)]="siteAddress.state"
        class="form-control"
        name="state"
      />
    </div>
    <div class="form-group">
      <label>City</label>
      <input
        [value]="siteAddress.city"
        [(ngModel)]="siteAddress.city"
        class="form-control"
        name="city"
      />
    </div>
    <div class="form-group">
      <label>Sub City</label>
      <input
        [value]="siteAddress.subCity"
        [(ngModel)]="siteAddress.subCity"
        class="form-control"
        name="subCity"
      />
    </div>
    <div class="form-group">
      <label>Pincode</label>
      <input
        [value]="siteAddress.pincode"
        [(ngModel)]="siteAddress.pincode"
        class="form-control"
        type="number"
        name="pincode"
      />
    </div>
    <div class="form-group">
      <label>Site Geo</label>
      <input
        [value]="siteAddress.siteGeo"
        [(ngModel)]="siteAddress.siteGeo"
        class="form-control"
        name="siteGeo"
      />
    </div>

    <div class="form-group">
      <label>Condition Type</label>
      <select
        [(value)]="conditionType"
        [(ngModel)]="conditionType"
        name="condition"
      >
        <option *ngFor="let condition of conditionsArray" [value]="condition">
          {{ condition }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label>Site Type</label>
      <select
        [(value)]="selectedSiteType"
        [(ngModel)]="selectedSiteType"
        name="siteType"
      >
        <option
          *ngFor="let siteType of siteTypes"
          [value]="siteType.siteTypeId"
        >
          {{ siteType.siteTypeName }}
        </option>
      </select>
    </div>
    <div class="form-group" *ngIf="advisorAccount">
      <label>Client Email</label>
      <input
        [value]="clientEmail"
        [(ngModel)]="clientEmail"
        class="form-control"
        name="clientEmail"
      />
    </div>
    <div class="form-group" *ngIf="advisorAccount">
      <label>Location of File</label>
      <input
        [value]="locationOfFile"
        [(ngModel)]="locationOfFile"
        class="form-control"
        name="clientEmail"
      />
    </div>
    <div class="form-group" *ngIf="advisorAccount">
      <label>File Number</label>
      <input
        [value]="fileNumber"
        [(ngModel)]="fileNumber"
        class="form-control"
        name="clientEmail"
      />
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button class="submit-button" (click)="submitNew()">Submit</button>
</div>
