<div id="wrapper">
  <button (click)="editProfile()">
    <span class="material-icons"> edit </span>
  </button>
  <div id="main-container">
    <div id="profileImage" *ngIf="!clientInfo.clientDisplayPic">
      {{ createImage() }}
    </div>

    <img
      class="profileImg"
      src="{{ clientInfo.clientDisplayPic }}"
      *ngIf="clientInfo.clientDisplayPic"
    />
    <div id="main-info">
      <p class="heading-profile">{{ clientInfo.clientName }}</p>
      <span>ID-{{ clientInfo.clientId }}</span>
    </div>
  </div>
  <div id="secondary-info" class="flex-column">
    <div id="title" class="flex-column">
      <span>Email</span>
      <span>Phone</span>
      <span>Occupation</span>
    </div>
    <div id="info" class="flex-column">
      <span>{{ clientInfo.clientEmail }}</span>
      <span>{{ clientInfo.clientMobile }}</span>
      <span>{{ clientInfo.occupation.occupationName }}</span>
    </div>
  </div>
</div>
