<div id="wrapper">
  <button (click)="editProfile()">
    <span class="material-icons"> edit </span>
  </button>
  <div id="main-container">
    <div id="profileImage" *ngIf="!userInfo.clientDisplayPic">
      {{ createImage() }}
    </div>
    <img
      *ngIf="userInfo.clientDisplayPic"
      class="profileImg"
      src="{{ createBase64Image() }}"
    />

    <div id="main-info">
      <p class="heading-profile">
        {{ advisorAccount ? userInfo.advisorName : userInfo.clientName }}
      </p>
      <span
        >ID-{{ advisorAccount ? userInfo.advisorId : userInfo.clientId }}</span
      >
    </div>
  </div>
  <div id="secondary-info" class="flex-column">
    <div id="title" class="flex-column">
      <span>Email</span>
      <span>Phone</span>
      <span>Occupation</span>
    </div>
    <div id="info" class="flex-column">
      <span>{{
        advisorAccount ? userInfo.advisorEmail : userInfo.clientEmail
      }}</span>
      <span>{{
        advisorAccount ? userInfo.advisorMobile : userInfo.clientMobile
      }}</span>
      <span>{{
        advisorAccount ? "Advisor" : userInfo.occupation.occupationName
      }}</span>
    </div>
  </div>
</div>
