<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" [opened]="!isMobile">
    <div class="header">
      <span class="fs-22 fw-600">Advisor Portal</span>
    </div>

    <mat-nav-list>
      <mat-list-item>
        <img
          class="mahavastu-logo"
          src="../../../assets/images/login-background.jpg"
        />
      </mat-list-item>
    </mat-nav-list>
    <h2>Sites</h2>
    <mat-nav-list>
      <mat-list-item
        routerLink="sites"
        routerLinkActive="active"
        (click)="drawer.close()"
      >
        <div class="list-item">
          <mat-icon>maps_home_work</mat-icon>
          <span mat-line routerLinkActive="active" class="fs-22 fw-600 pd-l3"
            >My Sites</span
          >
        </div>
      </mat-list-item>
    </mat-nav-list>
    <h2>Queries</h2>
    <mat-nav-list>
      <mat-list-item
        routerLink="queries"
        routerLinkActive="active"
        (click)="drawer.close()"
      >
        <div class="list-item">
          <mat-icon>question_answer</mat-icon>
          <span mat-line routerLinkActive="active" class="fs-22 fw-600 pd-l3"
            >My Queries</span
          >
        </div>
      </mat-list-item>
    </mat-nav-list>
    <app-footer></app-footer>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <span class="toolbar-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_box</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="" routerLinkActive="active">
          <mat-icon>person_outline</mat-icon>
          <span>My Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <main>
      <div class="route-content">
        <app-snackbar></app-snackbar>

        <router-outlet> </router-outlet>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
