<form ngNativeValidate (ngSubmit)="submitClient()">
  <h1>Client sign up form</h1>
  <div class="wrapper-div">
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input
        required
        matInput
        value="{{ clientName }}"
        [(ngModel)]="clientName"
        name="name"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Phone Number</mat-label>
      <input
        required
        matInput
        value="{{ clientMobile }}"
        [(ngModel)]="clientMobile"
        name="mobile"
        type="tel"
        maxlength="10"
      />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input
        required
        matInput
        value="{{ clientEmail }}"
        [(ngModel)]="clientEmail"
        name="email"
        type="email"
      />
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Occupation</mat-label>
      <select
        required
        matNativeControl
        value="{{ selectedOccupation }}"
        [(ngModel)]="selectedOccupation"
        name="siteType"
      >
        <option
          *ngFor="let occupation of occupationsArray"
          [value]="occupation.occupationName"
        >
          {{ occupation.occupationName }}
        </option>
      </select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Residence Location</mat-label>
      <input required matInput [(ngModel)]="address.address" name="name" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Country</mat-label>
      <input required matInput [(ngModel)]="address.country" name="name" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>State</mat-label>
      <input required matInput [(ngModel)]="address.state" name="name" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>City</mat-label>
      <input required matInput [(ngModel)]="address.city" name="name" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Sub City</mat-label>
      <input required matInput [(ngModel)]="address.subCity" name="name" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Site Geo</mat-label>
      <input matInput [(ngModel)]="address.siteGeo" name="name" />
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Pincode</mat-label>
      <input
        required
        matInput
        [(ngModel)]="address.pincode"
        name="name"
        type="text"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>

      <input
        required
        matInput
        value="{{ password }}"
        [(ngModel)]="password"
        name="password"
        type="password"
      />
    </mat-form-field>
  </div>

  <button class="submit-button" type="submit">Submit</button>
  <div class="m-1">
    <app-snackbar></app-snackbar>
  </div>
</form>
