<div mat-dialog-content>
  <h1>Add New Query</h1>
  <form>
    <div class="form-group">
      <label> Select Site </label>
      <select
        [(value)]="selectedSite"
        [(ngModel)]="selectedSite"
        name="selectedSite"
      >
        <option *ngFor="let site of sites" [value]="site.siteId">
          {{ site.siteName }} - {{ site.address.address }}
        </option>
      </select>
    </div>
    <br />
    <div class="form-group">
      <label>Query text</label>
      <input
        [(value)]="queryText"
        [(ngModel)]="queryText"
        class="form-control"
        name="queryText"
      />
    </div>
    <div class="form-group">
      <label> Concern </label>
      <select
        [(value)]="masterConcern"
        [(ngModel)]="masterConcern"
        name="selectedSite"
      >
        <option
          *ngFor="let concern of masterConcerns"
          [value]="concern.concernName"
        >
          {{ concern.concernName }}
        </option>
      </select>
    </div>
    <div class="form-group" *ngIf="advisorAccount">
      <label>Client Email/Phone Number</label>
      <input
        [value]="clientEmail"
        [(ngModel)]="clientEmail"
        class="form-control"
        name="clientEmail"
      />
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button class="submit-button" (click)="submitQuery()">Submit</button>
</div>
