<div class="table-wrapper flex-column">
  <h1 *ngIf="query">
    Query: {{ query.queryId }} - {{ query.masterConcern.concernName }}
  </h1>
  <h1 *ngIf="siteDetails">
    Site: {{ siteDetails.siteName }} - {{ siteDetails.siteAddress }}
  </h1>
  <p class="success-msg" *ngIf="postMessage">
    {{ postMessage }}
  </p>
  <table>
    <tr>
      <th *ngFor="let heading of headingArray">{{ heading }}</th>
    </tr>
    <ng-container *ngFor="let zone of boxArray" (ngSubmit)="submitForm()">
      <tr>
        <td aria-colspan="1">
          {{ zone }}
        </td>

        <td>
          <input
            required
            name="mvDirections"
            value="{{ getValue('mvDirections', zone) }}"
            (change)="handleInput(zone, $event)"
          />
        </td>
        <td>
          <input
            required
            name="planets"
            value="{{ getValue('planets', zone) }}"
            (change)="handleInput(zone, $event)"
          />
        </td>
        <td>
          <input
            required
            name="influence"
            value="{{ getValue('influence', zone) }}"
            (change)="handleInput(zone, $event)"
          />
        </td>
        <td>
          <input
            required
            name="presentObject"
            value="{{ getValue('presentObject', zone) }}"
            (change)="handleInput(zone, $event)"
          />
        </td>
        <td>
          <input
            required
            name="evaluation"
            value="{{ getValue('evaluation', zone) }}"
            (change)="handleInput(zone, $event)"
          />
        </td>
        <td>
          <input
            required
            name="suggestions"
            value="{{ getValue('suggestions', zone) }}"
            (change)="handleInput(zone, $event)"
          />
        </td>
      </tr>
    </ng-container>
  </table>

  <button class="submit-button" (click)="submitForm()">SUBMIT</button>
</div>
